<table class="table">
	<thead>
		<tr><td></td><td>First Name</td><td>Last Name</td><td>Initial</td></tr>
	</thead>
	<tbody>
		@{
			foreach (var s in ViewBag.StaffViewModel)
			{
				<tr><td>@Html.ActionLink("Edit", "Edit", new { Id = s.Id })</td><td>@s.FirstName</td><td>@s.LastName</td><td>@s.Initial</td></tr>
			}
		}
	</tbody>
</table>
