
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>Error Audit Report</title>
	<style>
		table {
			border-collapse: collapse;
			font: small-caption
		}

		th.rotate {
			/* Something you can count on */
			height: 140px;
			white-space: nowrap;
		}

		th.rotate > div {
			transform: translate(2px, 113px) rotate(270deg);
			-ms-transform: rotate(-90deg);
			filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
			width: 30px;
		}

		th.rotate > div > span {
			padding: 5px 10px;
			font: small-caption;
			font-weight: bold
		}

		span.scriptNum {
			margin: 0 5px 0 5px;
			font-weight: bold;
		}
	</style>

</head>
<body>


	<table border=1>
		<thead>
			<tr>
				<th></th>
				<th colspan="9">Entry</th>
				<th colspan="8">Dispensing</th>
			</tr>
			<tr style="line-height: 285px">
				<th><canvas id="myCanvas" width="25" height="200" style="vertical-align: bottom;"></canvas></th>
				<th class="rotate"><div><span style="font:caption; font-weight:bold">Prescription Numbers(s)</span></div></th>
				@*<th class="rotate"><div><span>Incorrect Directions</span></div></th>
				<th class="rotate"><div><span>History not checked</span></div></th>
				<th class="rotate"><div><span>Dose innappropriate</span></div></th>
				<th class="rotate"><div><span>Incorrect Brand Choosen</span></div></th>
				<th class="rotate"><div><span>Incorrect Quantity/Period Of Supply</span></div></th>
				<th class="rotate"><div><span>Incorreect Calculations</span></div></th>
				<th class="rotate"><div><span>Incorrect Medicine</span></div></th>
				<th class="rotate"><div><span>Incorrect Strength</span></div></th>
				<th class="rotate"><div><span>Incorrect Quantity</span></div></th>
				<th class="rotate"><div><span>Correct Product Form</span></div></th>
				<th class="rotate"><div><span>Incorrect Brand</span></div></th>
				<th class="rotate"><div><span>Interactions Identified</span></div></th>
				<th class="rotate"><div><span>Dose Inappropriate</span></div></th>
				<th class="rotate"><div><span>Drug Omission</span></div></th>
				<th class="rotate"><div><span>Interactions Identified</span></div></th>
				<th class="rotate"><div><span>Incorrect Patient Supplied</span></div></th>
				<th class="rotate"><div><span>Miscellaneous</span></div></th>*@
				@foreach (var err in ViewBag.AllErrors)
				{

				}
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><span class="scriptNum">123456</span></td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td><span style="margin-left: 8px;" class="glyphicon glyphicon-ok"></span></td>
				<td> </td>
				<td> </td>
				<td><span style="margin-left: 8px;" class="glyphicon glyphicon-ok"></span></td>
				<td> </td>
				<td> </td>
				<td><span style="margin-left: 8px;" class="glyphicon glyphicon-ok"></span></td>
				<td> </td>
				<td> </td>
				<td> </td>
			</tr>
		</tbody>
	</table>
	<script>
		var canvas = document.getElementById("myCanvas");
		var context = canvas.getContext("2d");
		context.translate(canvas.width - 1, 0);

		// rotate 270 degrees
		context.rotate(3 * Math.PI / 2);

		context.font = "Bold 16px Arial";
		context.fillStyle = "#000000";
		context.textAlign = "right";

		// draw relative to translate point
		context.fillText("Prescription Numbers(s)", 0, -5);
	</script>
</body>
</html>
