<!--
basic layout:
simple table/grip on top

new add on the bottom/top

click edit, the add new form will be filled with selected and can modified/save
-->
<div ng-controller="MainCtrl">
	{{greeting}}
	<table class="table">

	</table>
</div>

