@{
	ViewBag.Title = "Home Page";
}

<div class="row">
	<div class="col-md-2">
		<span class="glyphicon glyphicon-arrow-left navArrow"></span>
	</div>
	<div class="col-md-8">

	</div>
	<div class="col-md-2">
		<span class="glyphicon glyphicon-arrow-right navArrow"></span>
	</div>
</div>