<table class="table">
	<thead>
		<tr><td>Code</td><td>Description</td></tr>
	</thead>
	<tbody>
		@{
			foreach (var e in ViewBag.ErrorViewModel)
			{
				<tr><td>@Html.ActionLink("Edit", "Edit", new { Id = e.Id })</td><td>@e.Code</td><td>@e.Description</td></tr>
			}
		}
	</tbody>
</table>
