<table class="table">
	<thead>
		<tr><td>Code</td><td>Description</td></tr>
	</thead>
	<tbody>
		@{
			foreach (var e in ViewBag.ErrorViewModel)
			{
				<tr><td>@e.Code</td><td>@e.Description</td></tr>
			}
		}
	</tbody>
</table>
@{ Html.RenderPartial("Create"); }