<table class="table">
	<thead>
		<tr><td></td><td>Code</td><td>Description</td><td>Error Type</td></tr>
	</thead>
	<tbody>
		@{
			foreach (var e in ViewBag.ErrorViewModel)
			{
				<tr><td>@Html.ActionLink("Edit", "Edit", new { Id = e.Id })</td><td>@e.ErrorCode</td><td>@e.ErrorDesc</td><td>@e.ErrorType</td></tr>
			}
		}
	</tbody>
</table>
